[Unit]
Description=Gunicorn instance to serve API
After=network.target

[Service]
# The user and group are set as www-data because this is the user that can
# access nginx service
User=www-data
Group=www-data
WorkingDirectory=/opt/api/
ExecStart=/usr/local/bin/gunicorn -k /usr/local/bin/uvicorn.workers.UvicornWorker --bind unix:/opt/api/app.sock --threads=16 --workers=4 -m 007 api:app

[Install]
WantedBy=multi-user.target